* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #e0e0e0;
  font-size: 4rem;
}

h2 {
  color: #e0e0e0;
  font-size: 1rem;
}

h3 {
  color: #212121;
  font-size: 1.5rem;
  font-weight: 100;
}

h5 {
  color: #757575;
  font-size: 0.75rem;
  font-weight: 100;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #757575;
  text-align: center;
  font-weight: 100;
}

.header-wrap {
  z-index: 999;
}

.header-inner-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  background: none;
  height: 100%;
  width: 100%;
}
.header-inner-wrap .header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 16fr;
  -webkit-box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.6);
  background: #303F9F;
  border-bottom-right-radius: 1.5rem;
  z-index: 999;
}
.header-inner-wrap .header-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s 0s;
  color: #e0e0e0;
}
.header-inner-wrap .header-nav div:hover {
  -webkit-box-shadow: inset 0px -4px 0px 0px #ba1a52;
  -moz-box-shadow: inset 0px -4px 0px 0px #ba1a52;
  box-shadow: inset 0px -4px 0px 0px #ba1a52;
}
.header-inner-wrap .header-info {
  padding: 2rem;
  background: #3F51B5;
  -webkit-box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 300px 35px rgba(0, 0, 0, 0.75);
  transition: height 1s 1s;
}
.header-inner-wrap .header-info:hover {
  height: 100vh;
}
.header-inner-wrap .header-info .header-info-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-inner-wrap .header-info .header-info-hub {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #e0e0e0;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:focus {
  border: none;
  outline: none;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: none !important;
  margin-top: 0 !important;
  transform: translateY(0.1rem);
}

/*# sourceMappingURL=header.css.map */
