* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #757575;
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #757575;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 500ms ease-out;
}

.header-wrap {
  z-index: 998;
}

.header-inner-wrap {
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  background: none;
  height: 100%;
  width: 100%;
}
.header-inner-wrap .header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 16fr;
  background: #101638;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
  z-index: 999;
}
.header-inner-wrap .header-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDEDED;
  position: relative;
  height: 100%;
  width: 100%;
  background: #101638;
}
.header-inner-wrap .header-nav div:hover {
  -webkit-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  -moz-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
}
.header-inner-wrap #header-nav-active {
  -webkit-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  -moz-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
}
.header-inner-wrap .header-info {
  padding: 2rem;
  background: #303F9F;
  -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.47);
  box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.47);
  min-height: 10rem;
  max-height: 10rem;
}
.header-inner-wrap .header-info .header-info-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-inner-wrap .header-info .header-info-hub {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:focus {
  border: none;
  outline: none;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}

.header-info-fullsize {
  min-height: 100vh !important;
  max-height: 200vh !important;
}

.header-info-pick-wrapper {
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-pick-wrapper-fold-in {
  height: 0vh !important;
}

.header-info-pick {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
}
.header-info-pick .header-info-pick-options-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 12rem;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  width: 100%;
  height: 100%;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:focus {
  border: none;
  outline: none;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options div {
  height: 2.5rem;
  width: 5rem;
}

.header-info-ask-wrapper {
  display: none;
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 200vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-answer-wrapper {
  display: none;
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

/*# sourceMappingURL=header.css.map */
