* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 500ms ease-out;
}

.animatable--now.isShown {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 100% !important;
  height: 2rem !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

.main-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 1fr;
  background: #111111;
  height: 40rem;
  padding: 1rem;
  z-index: 999;
}

.main-inner-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.75fr 12fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.main-inner-wrap div:not(.postlist-left-text):not(.postlist-center-text) {
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #0c0c0c;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

.postlist-left-text {
  background: none !important;
  box-shadow: none !important;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.postlist-left-text h3 {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-decoration: underline !important;
  text-decoration-color: #ba1a52 !important;
}

.postlist-left {
  grid-column: 1/2;
  /*& div:last-child {
    border-bottom-radius: .25rem !important;
    border-bottom-width: .1rem !important;
    border-bottom-style: solid !important;
    border-bottom-color: $Divider !important;
  }*/
}

.postlist-center-text {
  background: none !important;
  box-shadow: none !important;
  grid-column: 2/6;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.postlist-center-text h3 {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-decoration: underline !important;
  text-decoration-color: #ba1a52 !important;
}

.postlist-center {
  grid-column: 2/6;
  /*& div:last-child {
    border-bottom-radius: .25rem !important;
    border-bottom-width: .1rem !important;
    border-bottom-style: solid !important;
    border-bottom-color: $Divider !important;
  }*/
}

.postlink {
  background: #101638 !important;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  border-bottom: none !important;
  margin-bottom: 0.3rem;
}

/*# sourceMappingURL=main.css.map */
