* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}

.animatable--now.header-info,
.animatable--now.header-info-pick-wrapper {
  transition: all 500ms ease-out;
}

.animatable--now.isShown,
.animatable--now.suggShow {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 7.5rem !important;
  height: auto !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}

.animatable--now.header-info,
.animatable--now.header-info-pick-wrapper {
  transition: all 500ms ease-out;
}

.animatable--now.isShown,
.animatable--now.suggShow {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 7.5rem !important;
  height: auto !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

.header-exit-button-wrap {
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 90vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}
.header-exit-button-wrap #header-exit-button {
  display: none;
  background: none;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  z-index: 999;
  background: url("../img/down.svg");
  background-size: 100% 100%;
  transition: all 200ms ease-out;
  cursor: pointer;
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
  filter: invert(100%);
}
.header-exit-button-wrap #header-exit-button:hover {
  transform: translateY(0.1rem);
  filter: drop-shadow(none);
}

.header-exit-button-active {
  display: flex;
}

.header-inner-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  background: none;
  min-height: 20.5rem;
  height: 100%;
  width: 100%;
}
.header-inner-wrap .header-nav {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  background: #101638;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.33);
}
.header-inner-wrap .header-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDEDED;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.05s ease-out;
}
.header-inner-wrap .header-nav div:hover:not(#nav-login-div) {
  -webkit-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  -moz-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
}
.header-inner-wrap #nav-login {
  grid-column: 17;
  background: #303F9F !important;
  -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.4);
}
.header-inner-wrap #nav-login #nav-login-div:hover {
  background: #101638;
  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.01);
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.01);
}
.header-inner-wrap #header-nav-active {
  -webkit-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  -moz-box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
  box-shadow: inset 0px -0.25rem 0px 0px #ba1a52;
}
.header-inner-wrap .header-info {
  padding: 2rem;
  background: #172353;
  min-height: 10rem;
  max-height: 15rem;
}
.header-inner-wrap .header-info .header-info-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-inner-wrap .header-info .header-info-hub {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:focus {
  border: none;
  outline: none;
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-inner-wrap .header-info .header-info-hub #dropBtn:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}

.header-info-fullsize {
  min-height: 100vh !important;
  max-height: 100vh !important;
}

.header-info-pick-wrapper {
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-pick-wrapper-fold-in {
  height: 0vh !important;
}

.header-info-pick {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.header-info-pick .header-info-pick-options-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.75rem;
  height: 2.5rem;
  z-index: 999;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  width: 100%;
  height: 100%;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:focus {
  border: none;
  outline: none;
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options button:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.header-info-pick .header-info-pick-options-wrapper .header-info-pick-options div {
  height: 2.5rem;
  width: 5rem;
}

.header-info-ask-wrapper {
  display: none;
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}
.header-info-ask-wrapper .header-info-ask-outer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask {
  width: 100%;
  height: 100%;
  margin: 3rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper {
  display: grid;
  grid-template-rows: 0.625fr 1fr;
  height: 100%;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper h1 {
  text-align: center;
  font-size: 4rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper h6 {
  text-align: center;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper .writepost-instructions {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm {
  width: 100%;
  height: 10rem;
  display: inline-grid;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm #formfields {
  width: 7.5rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=text], .header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin: 0.125rem 0;
  display: inline-block;
  border: 0.125rem solid #aaaaaa;
  background-color: #d8d8d8;
  border-radius: 0.125rem;
  box-sizing: border-box;
  outline: none;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=button] {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  width: 100%;
  background-color: #ba1a52;
  color: white;
  padding: 0.5rem 0.75rem;
  margin: 0.125rem 0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=button]:focus {
  border: none;
  outline: none;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=button]:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=button]:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm input[type=button]:hover {
  background-color: #d10049;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .writepost-wrapper #postForm textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  border: 0.125rem solid #aaaaaa;
  border-radius: 0.125rem;
  background-color: #d8d8d8;
  resize: none;
  margin: 0.125rem 0;
  outline: none;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(3, 0.5fr);
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper h1 {
  text-align: center;
  font-size: 4rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper h6 {
  text-align: center;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper #submitButton {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  width: 100%;
  background-color: #ba1a52;
  color: white;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0 0 0.25rem 0.25rem !important;
  cursor: pointer;
  outline: none;
  z-index: 998 !important;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper #submitButton:focus {
  border: none;
  outline: none;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper #submitButton:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper #submitButton:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-instructions {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 0.3fr 1fr;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.4);
  height: 5rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-info {
  background: #172353;
  grid-column: 1/2;
  box-shadow: 0 0.15rem 0 0 rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  height: 1.1rem;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-info h6 {
  font-size: 0.8rem;
  text-align: left;
  margin-left: 0.2rem;
  font-weight: 400;
  color: #EDEDED;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-add {
  background: #172353;
  box-shadow: 0 0.15rem 0 0 rgba(0, 0, 0, 0.4);
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-add #param-add-form {
  height: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-add #param-add-form input[type=text], .header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-add #param-add-form select {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #d8d8d8;
  outline: none;
  font-size: 0.75rem;
  font-weight: 800;
  padding-left: 1.125rem;
  border-radius: 0.125rem;
  background-image: url("/img/round-search-24px.svg");
  background-position: 0 0.1rem;
  background-size: 1.125rem;
  background-repeat: no-repeat;
}
.header-info-ask-wrapper .header-info-ask-outer .header-info-ask .addParams-wrapper .param-wrapper:not(.param-instructions) .param .param-view {
  background: #111111;
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addParams-Preview {
  background: #EDEDED;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  width: 100%;
  height: auto !important;
  border-radius: 0 0 0.2rem 0.2rem;
}
#addParams-Preview form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#addParams-Preview form input {
  text-align: left;
  margin-left: 0.2rem;
  font-weight: 600;
  font-size: 0.7rem;
  width: 100%;
  height: 2rem;
  border: none;
  background: none;
  outline: none;
}
#addParams-Preview form:hover {
  opacity: 1;
}
#addParams-Preview form:hover input {
  opacity: 0.6;
  cursor: pointer;
}
#addParams-Preview form:active {
  opacity: 1 !important;
}
#addParams-Preview form:active input {
  opacity: 0.4 !important;
}

.header-info-answer-wrapper {
  display: none;
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #101638;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-title h1 {
  font-size: 5rem;
}

.tagsection-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 0.25rem;
  height: 100%;
}
.tagsection-wrapper #tagviewer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0.2fr, 1fr);
  grid-column-gap: 0.2rem;
  height: 100%;
}
.tagsection-wrapper #tagviewer #tagmessage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}
.tagsection-wrapper #tagviewer #addDiv {
  display: flex;
  align-items: center;
}
.tagsection-wrapper #tagviewer #addDiv #addTags {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: none;
  background: url("../img/plus.svg");
  filter: invert(100%);
  background-size: 100% 100%;
  text-decoration: none;
  height: 2em;
  width: 2em;
  transition: transform 0.2s;
  opacity: 1;
}
.tagsection-wrapper #tagviewer #addDiv #addTags:focus {
  border: none;
  outline: none;
}
.tagsection-wrapper #tagviewer #addDiv #addTags:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.tagsection-wrapper #tagviewer #addDiv #addTags:focus {
  transform: rotate(90deg);
}
.tagsection-wrapper #tagviewer #addDiv #addTags:active {
  transform: rotate(180deg);
}
.tagsection-wrapper #tagviewer a {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  height: 2rem;
  border-radius: 0.15rem;
  background: #101638;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #EDEDED;
  font: 1rem Helvetica, Verdana, sans-serif;
}
.tagsection-wrapper #tagviewer a:focus {
  border: none;
  outline: none;
}
.tagsection-wrapper #tagviewer a:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.tagsection-wrapper #tagviewer a:hover {
  opacity: 0.6;
}
.tagsection-wrapper #tagviewer a:active {
  opacity: 0;
  cursor: default;
}
.tagsection-wrapper .tagSearch-Wrapper {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  background: #EDEDED;
  width: 0rem;
  min-height: 2rem;
  max-height: auto;
  opacity: 0;
  border-radius: 0.2rem;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview {
  background: #EDEDED;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  width: 7.5rem;
  border-radius: 0 0 0.2rem 0.2rem;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form input {
  text-align: left;
  margin-left: 0.2rem;
  font-weight: 600;
  font-size: 0.7rem;
  width: 7.5rem;
  height: 2rem;
  border: none;
  background: none;
  outline: none;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form:hover {
  opacity: 1;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form:hover input {
  opacity: 0.6;
  cursor: pointer;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form:active {
  opacity: 1 !important;
}
.tagsection-wrapper .tagSearch-Wrapper #tagSearch-Preview form:active input {
  opacity: 0.4 !important;
}
.tagsection-wrapper .tagSearch-Wrapper #addTagForm {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.1);
  background: none;
}
.tagsection-wrapper .tagSearch-Wrapper #addTagForm input {
  width: 100%;
  height: 100%;
  background: #101638;
  border: none;
  outline: none;
  color: #aaaaaa;
}
.tagsection-wrapper .tagSearch-Wrapper #addTagForm input {
  display: none;
  padding-left: 0.2rem;
  background: none;
  font-size: 0.7rem;
  font-weight: 600;
  height: 2rem;
  color: #0c0c0c;
}
.tagsection-wrapper .buttonClicked {
  transform: rotate(180deg);
}
.tagsection-wrapper .buttonClickedTwo {
  transform: rotate(-180deg);
}

.tagSearch-Wrapper-Border {
  border-radius: 0.2rem 0.2rem 0 0 !important;
}

* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}

.animatable--now.header-info,
.animatable--now.header-info-pick-wrapper {
  transition: all 500ms ease-out;
}

.animatable--now.isShown,
.animatable--now.suggShow {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 7.5rem !important;
  height: auto !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

.footer-wrap {
  background: #0c0c0c;
  min-height: 10rem;
}

* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}

.animatable--now.header-info,
.animatable--now.header-info-pick-wrapper {
  transition: all 500ms ease-out;
}

.animatable--now.isShown,
.animatable--now.suggShow {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 7.5rem !important;
  height: auto !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

.main-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 1fr;
  background: #111111;
  height: 40rem;
  padding: 1rem;
  z-index: 999;
}

.main-inner-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.75fr 12fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.main-inner-wrap div:not(.postlist-left-text):not(.postlist-center-text) {
  border-radius: 0.25rem;
  border-width: 0.05rem;
  border-color: #ebebeb;
  border-style: none;
  background: #0c0c0c;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

.postlist-left-text {
  background: none !important;
  box-shadow: none !important;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.postlist-left-text h3 {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-decoration: underline !important;
  text-decoration-color: #ba1a52 !important;
}

.postlist-left {
  grid-column: 1/2;
  /*& div:last-child {
    border-bottom-radius: .25rem !important;
    border-bottom-width: .1rem !important;
    border-bottom-style: solid !important;
    border-bottom-color: $Divider !important;
  }*/
}

.postlist-center-text {
  background: none !important;
  box-shadow: none !important;
  grid-column: 2/6;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.postlist-center-text h3 {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-decoration: underline !important;
  text-decoration-color: #ba1a52 !important;
}

.postlist-center {
  grid-column: 2/6;
  /*& div:last-child {
    border-bottom-radius: .25rem !important;
    border-bottom-width: .1rem !important;
    border-bottom-style: solid !important;
    border-bottom-color: $Divider !important;
  }*/
}

.postlink {
  background: #101638 !important;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6) !important;
  border-bottom: none !important;
  margin-bottom: 0.3rem;
}

* {
  margin: 0;
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: #EDEDED;
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  color: #EDEDED;
  font-size: 1rem;
}

h3 {
  color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  color: #EDEDED;
  font-size: 1rem;
}

h5 {
  color: #aaaaaa;
  font-size: 0.8rem;
}

h6 {
  color: #EDEDED;
  font-size: 0.95rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #aaaaaa;
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
}

div {
  font-size: 0.9rem;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}

.animatable--now.header-info,
.animatable--now.header-info-pick-wrapper {
  transition: all 500ms ease-out;
}

.animatable--now.isShown,
.animatable--now.suggShow {
  transition: all 200ms ease-out;
}

.animatable--now.buttonClicked,
.animatable--now.commShow,
.animatable--now.commClicked {
  transition: all 200ms ease-out;
}

.isShown {
  width: 7.5rem !important;
  height: auto !important;
  opacity: 1 !important;
}
.isShown input {
  display: block !important;
}

.postViewer {
  grid-area: posts;
  margin: 1rem;
  margin-top: 1rem;
  background: #111111;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  min-height: 20rem;
}
.postViewer .post {
  z-index: 998;
  background: #101638;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "content" "comments" "commentbutton";
}
.postViewer .post div:not(.commentbutton):not(#usrImg):not(#commText):not(#usr):not(#commfield) {
  padding: 0.5rem;
  background: #aaaaaa;
}
.postViewer .post #usr p {
  font-size: 0.8rem;
  text-align: left;
  color: #0c0c0c;
  font-weight: 600;
}
.postViewer .post #text {
  font-size: 0.6rem;
  color: #0c0c0c;
}
.postViewer .post .title {
  grid-area: title;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.25);
  margin-bottom: 0rem !important;
}
.postViewer .post .title h1 {
  color: #0c0c0c;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration-color: #0c0c0c !important;
}
.postViewer .post .content {
  grid-area: content;
  height: 10rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.25);
}
.postViewer .post .content p {
  color: #0c0c0c;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}
.postViewer .post #comments {
  grid-area: comments;
  z-index: 997;
}
.postViewer .post #commfield {
  min-height: 2.5rem;
  max-height: 2.5rem;
  overflow-y: hidden;
  -webkit-transform: none;
  transform: none;
}
.postViewer .post .commentbutton {
  grid-area: commentbutton;
  height: 5rem;
  margin-top: -5rem;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(255, 0, 0, 0) 0%, #aaaaaa 50%) !important;
}
.postViewer .post .commentbutton #commButton {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: none;
  transition: transform 300ms;
  width: 10%;
  height: 2rem;
  opacity: 0.3;
  background: url("../img/down.svg");
  background-size: 100% 100%;
}
.postViewer .post .commentbutton #commButton:focus {
  border: none;
  outline: none;
}
.postViewer .post .commentbutton #commButton:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}

.buttonClicked {
  transform: rotate(180deg);
}

.commShow {
  min-height: 2.5rem !important;
  max-height: 10rem !important;
  overflow-y: auto !important;
  scroll-snap-type: y mandatory !important;
  scroll-snap-type: mandatory !important;
}

.commClicked {
  margin-top: 0rem !important;
  background: #aaaaaa !important;
  height: 2.5rem !important;
}

html {
  font-size: 20px;
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background: #111111;
}

/*# sourceMappingURL=master.css.map */
