@import "misc";

.header-wrap {
  //box-shadow: 0 0.4rem 0 -.1rem rgba(0,0,0,.65);
  z-index: 998;
}

.header-inner-wrap {
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  background: none;

  .header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 16fr;
    background: $SecDark;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.05s 0s ease-out;
        color: $Text;
        position: relative;
        height: 100%;
        width: 100%;
        background: $SecDark;

        &:hover {
          -webkit-box-shadow: inset 0px -.25rem 0px 0px $Accent;
          -moz-box-shadow: inset 0px -.25rem 0px 0px $Accent;
          box-shadow: inset 0px -.25rem 0px 0px $Accent;
        }

      }

    z-index: 999;
  }

  .header-info {
    padding: 2rem;
    background: $PrimDark;
    -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.47);
    height: 10rem;
    transition: height 0.5s ease;


    .header-info-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .header-info-hub {
      display: flex;
      justify-content: center;
      align-items: flex-start;

        #dropBtn {
          @include buttonMix();
          box-shadow: 0 0.15rem 0 0rem rgba(0,0,0,.25);
          background-color: $Accent;
          color: $Text;
          padding: 0.75rem 1rem 0.75rem 1rem;
          font-size: 0.8rem;
          border-radius: 0.1rem;
          border-bottom-right-radius: 0.5rem;
          margin-top: 0rem;

          &:active  {
            box-shadow: none !important;
            transform: translateY(0.1rem);
          }

      }

    }

  }

  height: 100%;
  width: 100%;
}

.header-info-fullsize {
  -webkit-transition: 0.5s ease;
  height: 100vh !important;
}
