@import "misc";

.header-exit-button-wrap {

  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 90vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;

  #header-exit-button {
    display: none;
    background: none;
    border: none;
    outline: none;
    height: 3rem;
    width: 3rem;
    z-index: 999;
    background:  url("../img/down.svg");
    background-size: 100% 100%;
    transition: all 200ms ease-out;
    cursor: pointer;

    -webkit-filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.5));
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.5));
  	filter: invert(100%);

    &:hover {
      transform: translateY(0.1rem);
      filter: drop-shadow(none);
    }

  }

}

.header-exit-button-active {
  display: flex;
}


.header-wrap {
  //box-shadow: 0 0.4rem 0 -.1rem rgba(0,0,0,.65);

}

.header-inner-wrap {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  background: none;
  min-height: 20.5rem;

  .header-nav {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    background: $SecDark;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33);
    z-index: 999;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $Text;
        position: relative;
        height: 100%;
        width: 100%;
        transition: .05s ease-out;

        &:hover:not(#nav-login-div) {
          -webkit-box-shadow: inset 0px -.25rem 0px 0px $Accent;
          -moz-box-shadow: inset 0px -.25rem 0px 0px $Accent;
          box-shadow: inset 0px -.25rem 0px 0px $Accent;
        }

      }


  }

  #nav-login {
    grid-column: 17;
    background: $PrimDark !important;
    -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.4);

    #nav-login-div {
      &:hover {
        background: $SecDark;
        -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01);
        -moz-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01);
        box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01);
      }
    }
  }

  #header-nav-active {
    -webkit-box-shadow: inset 0px -.25rem 0px 0px $Accent;
    -moz-box-shadow: inset 0px -.25rem 0px 0px $Accent;
    box-shadow: inset 0px -.25rem 0px 0px $Accent;
  }

  .header-info {
    padding: 2rem;
    background: $SecDark2;
    min-height: 10rem;
    max-height: 15rem;

    .header-info-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .header-info-hub {
      display: flex;
      justify-content: center;
      align-items: flex-start;

        #dropBtn {
          @include headerbtn();
        }

    }

  }

  height: 100%;
  width: 100%;
}

.header-info-fullsize {
  min-height: 100vh !important;
  max-height: 100vh !important;
}

.header-info-pick-wrapper {
  @include border();
  background: $SecDark;
  display: none;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-pick-wrapper-fold-in {
  height: 0vh !important;
}

.header-info-pick {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;


  .header-info-pick-options-wrapper {
    width: 100%;
    display: flex;

    justify-content: center;

    .header-info-pick-options {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: .75rem;
      height: 2.5rem;
      z-index: 999;

      button {
        @include headerbtn();
        width: 100%;
        height: 100%;
      }

      div {
        height: 2.5rem;
        width: 5rem;
      }

    }
  }

}

.header-info-ask-wrapper {
  display: none;
  @include border();
  background: $SecDark;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);

  .header-info-ask-outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-info-ask {
      width: 100%;
      height: 100%;
      margin: 3rem;


      .writepost-wrapper {

        display: grid;

        grid-template-rows: .625fr 1fr;

        height: 100%;

        h1 {
          text-align: center;
          font-size: 4rem;
        }

        h6 {
          text-align: center;
        }

        .writepost-instructions {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 2rem 0 1rem 0;
        }

        #postForm {

          width: 100%;
          height: 10rem;
          display: inline-grid;

          #formfields {
            width: 7.5rem;
          }

          input[type=text], select {
            width: 100%;
            padding: .5rem .75rem;
            margin: .125rem 0;
            display: inline-block;
            border: .125rem solid $SecText;
            background-color: $TextDarker;
            border-radius: .125rem;
            box-sizing: border-box;
            outline: none;
          }

          input[type=submit] {
            @include headerbtn();
            width: 100%;
            background-color: $Accent;
            color: white;
            padding: .5rem .75rem;
            margin: .125rem 0;
            border: none;
            border-radius: .25rem;
            cursor: pointer;

            outline: none;
          }

          input[type=button]:hover {
            background-color: $AccentDark;
          }

          textarea {
            width: 100%;
            height: 10rem;
            padding: .5rem .5rem;
            box-sizing: border-box;
            border: .125rem solid $SecText;
            border-radius: .125rem;
            background-color: $TextDarker;
            resize: none;
            margin: .125rem 0;
            outline: none;
          }

        }

      }

      .addParams-wrapper {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, .5fr);

        h1 {
          text-align: center;
          font-size: 4rem;
        }

        h6 {
          text-align: center;
        }

        #continueButton {
          @include headerbtn();
          width: 100%;
          background-color: $Accent;
          color: white;
          padding: .5rem .75rem;
          border: none;
          border-radius: 0 0 .25rem .25rem !important;
          cursor: pointer;
          outline: none;
          z-index: 998 !important;
        }

        .param-instructions {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 2rem 0 1rem 0;
        }

        .param-wrapper:not(.param-instructions) {

          .param {
            display: grid;
            grid-template-columns: 1fr .2fr;
            grid-template-rows: .3fr 1fr;
            box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.4);
            height: 5rem;

            .param-info {
              background: $SecDark2;
              grid-column: 1/2;
              box-shadow: 0 0.15rem 0 0 rgba(0,0,0,.4);
              display: flex;
              align-items: center;
              height: 1.1rem;

              h6 {
                font-size: .8rem;
                text-align: left;
                margin-left: .2rem;
                font-weight: 400;
                color: $Text;
              }

            }

            .param-add {
              background: $SecDark2;
              box-shadow: 0 0.15rem 0 0 rgba(0,0,0,.4);
              grid-column: 2/3;
              grid-row: 1/2;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-end;

              #param-add-form {
                box-shadow: 0 0.15rem 0 0 rgba(0,0,0,.4);
                height: 100%;
                width: 15rem;

                input[type=text], select {
                  width: 15rem - 1.125rem;
                  height: 100%;
                  padding-left: 1.125rem;
                  border: none;
                  background-color: $TextDarker;
                  outline: none;
                  font-size: .75rem;
                  font-weight: 800;
                  background-image: url('/img/round-search-24px.svg');
                  background-position:  0 .1rem;
                  background-size: 1.125rem;
                  background-repeat: no-repeat;
                }

              }
            }

            .param-view {

              background: $ThirdDark;
              text-align: center;
              grid-column: 1/3;
              grid-row: 2/3;
              display: flex;
              justify-content: center;
              align-items: center;

              a  {

                @include buttonMix();

                height: 2rem;
                border-radius: 0.15rem;
                background: $PrimDark;
                padding: 0 0.5rem 0 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .25rem;

                &:hover {
                  opacity: 0.6;
                }

                &:active {
                  opacity: 0;
                  cursor: default;
                }

                text-decoration: none;
                color: $Text;
                font: 1rem Helvetica, Verdana, sans-serif;

              }

            }
          }

        }

      }

    }

  }

}

#addParams-Preview {
  background: $Text;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  height: auto !important;
  width: 15rem;
  border-radius:  0 0 0.2rem 0.2rem;

    form {
      width: 10rem;
      height: 100%;
      overflow: hidden;

      input { // BUG:
        text-align: left;
        margin-left: .2rem;
        font-weight: 600;
        font-size: .7rem;
        width: 15rem;
        height: 2rem;
        border: none;
        background: none;
        outline: none;
      }

      &:hover{
        opacity: 1;
        input {
          opacity: .6;
          cursor: pointer;
        }
      }

      &:active {
      opacity: 1 !important;
      input {
        opacity: .4 !important;
      }

    }

  }

}

.header-info-answer-wrapper {
  display: none;
  @include border();
  background: $SecDark;
  width: 100%;
  height: 90vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}

.header-info-title {
  h1 {
    font-size: 5rem;
  }
}

.tagsection-wrapper {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: .25rem;
  height: 100%;

  #tagviewer {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0.2fr, 1fr);
    grid-column-gap: 0.2rem;
    height: 100%;

    #tagmessage {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .25rem;
    }

    #addDiv {

      display: flex;
      align-items: center;

      #addTags {

        @include buttonMix();
        box-shadow: none;
        background:  url("../img/plus.svg");
        filter: invert(100%);
        background-size: 100% 100%;
        text-decoration: none;
        height: 2em;
        width: 2em;
        transition: transform 0.2s;
        opacity: 1;
        z-index: 998 !important;

        &:focus {
          transform: rotate(90deg);
        }

        &:active {
          transform: rotate(180deg);
        }

      }

    }

    a  {

      @include buttonMix();

      height: 2rem;
      border-radius: 0.15rem;
      background: $SecDark;
      padding: 0 0.5rem 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0;
        cursor: default;
      }

      text-decoration: none;
      color: $Text;
      font: 1rem Helvetica, Verdana, sans-serif;

    }

  }

  .tagSearch-Wrapper {

    box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
    background: $Text;
    width: 0rem;
    min-height: 2rem;
    max-height: auto;
    opacity: 0;
    border-radius: 0.2rem;


      #tagSearch-Preview {
        background: $Text;
        z-index: 999;
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        width: 7.5rem;
        border-radius:  0 0 0.2rem 0.2rem;

          form {
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 999;

            input { // BUG:
              text-align: left;
              margin-left: .2rem;
              font-weight: 600;
              font-size: .7rem;
              width: 7.5rem;
              height: 2rem;
              border: none;
              background: none;
              outline: none;
              z-index: 999;
            }

            &:hover{
              opacity: 1;
              input {
                opacity: .6;
                cursor: pointer;
              }
            }

            &:active {
            opacity: 1 !important;
            input {
              opacity: .4 !important;
            }

          }

        }

    }

    #addTagForm {
      @include formMix();
      width: 100%;
      height: 100%;
      padding: 0;
      box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.1);
      background: none;

      input {
        display: none;
        padding-left: 0.2rem;
        background: none;
        font-size: 0.7rem;
        font-weight: 600;
        height: 2rem;
        color: $Darkest;
      }
    }

  }

    .buttonClicked {
    transform: rotate(180deg);
  }

  .buttonClickedTwo {
  transform: rotate(-180deg);
  }

}

.tagSearch-Wrapper-Border {
    border-radius: 0.2rem 0.2rem 0 0 !important;
}
