@import "misc";
@import "header";
@import "footer";
@import "main";
@import "postview";

.content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background: $ThirdDark;
}

.content-wrap div {

}
