//colors
$Text : #EDEDED;
$PrimText : #212121;
$SecText : #757575;
$TextDark : #d6d6d6;
$TextDarker : #d8d8d8;

$Divider : #ebebeb;

$Prim : #3F51B5;
$PrimLight : #C5CAE9;
$PrimDark : #303F9F;
$SecDark : #101638;
$ThirdDark : #111111;
$Darkest : #0c0c0c;

$Accent : #ba1a52;
//$Header : #0277bd;

//mixins
@mixin fadein($time, $opacity) {
    opacity: $opacity;
  -webkit-transition: $time;
    &:hover {opacity: 0.8};
}

@mixin underline() {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-decoration: underline !important;
  text-decoration-color: $Accent !important;
}

//maybe nice ide guy
@mixin border() {
  border-radius: 0rem;
  border-width: .05rem;
  border-color: $Divider;
  border-style: none;
}

@mixin buttonMix() {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s .05s ease-out;
  box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.2);

  &:focus {
    border: none;
    outline: none;
  }

  &:active  {
    box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,0);
  }

}

@mixin formMix {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0.15rem 0 0rem rgba(0,0,0,.25);

    input {
      width: 100%;
      height: 100%;
      background: $four;
      border: none;
      outline: none;
      color: $five;
    }
}

* {
  margin: 0;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  //font-family: 'Roboto', sans-serif;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0.6rem;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

      /* Handle on hover */
      &:hover {
          background: #555;
      }
}

h1 {
  color: $Text;
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  color: $Text;
  font-size: 1rem;
}

h3 {
  color: $TextDarker;
  font-size: 1.5rem;
  font-weight: 100;
}

h4{
  color: $Text;
  font-size: 1rem;
}

h5 {
  color: $SecText;
  font-size: .8rem;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: $SecText;
  text-align: center;
  font-weight: 100;
}

html {
  font-size: 16px;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
}

.animatable--now {
  transition: all 200ms ease-out;
}
