//colors
$Text : #e0e0e0;
$PrimText : #212121;
$SecText : #757575;
$TextDark : #d6d6d6;

$Divider : #BDBDBD;

$Prim : #3F51B5;
$PrimLight : #C5CAE9;
$PrimDark : #303F9F;

$Accent : #ba1a52;
//$Header : #0277bd;

//mixins
@mixin fadein($time, $opacity) {
    opacity: $opacity;
  -webkit-transition: $time;
    &:hover {opacity: 0.8};
}

@mixin buttonMix() {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.2);

  &:focus {
    border: none;
    outline: none;
  }

  &:active  {
    box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,0);
  }

}

@mixin formMix {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0.15rem 0 0rem rgba(0,0,0,.25);

    input {
      width: 100%;
      height: 100%;
      background: $four;
      border: none;
      outline: none;
      color: $five;
    }
}

* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0.6rem;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

      /* Handle on hover */
      &:hover {
          background: #555;
      }
}

h1 {
  color: $Text;
  font-size: 4rem;
}

h2 {
  color: $Text;
  font-size: 1rem;
}

h3 {
  color: $PrimText;
  font-size: 1.5rem;
  font-weight: 100;
}

h5 {
  color: $SecText;
  font-size: 0.75rem;
  font-weight: 100;
}

p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: $SecText;
  text-align: center;
  font-weight: 100;
}
