@import "misc";

.postViewer {
  grid-area: posts;
  margin: 1rem;
  margin-top: 1rem;
  background: $ThirdDark;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  .post {

    z-index: 998;
    background: $SecDark;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.25);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "content"
    "comments"
    "commentbutton";

    div:not(.commentbutton):not(#usrImg):not(#commText):not(#usr):not(#commfield) {
      padding: 0.5rem;
      background: $SecText;
    }

    #usr {
      p {
        font-size: 0.8rem;
        text-align: left;
        color: $Darkest;
        font-weight: 600;
      }
    }

    #text {
      font-size: 0.6rem;
      color: $Darkest;
    }

    .title {
      grid-area: title;
      box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.25);
      margin-bottom: 0rem !important;

      h1{
        color: $Darkest;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration-color: $Darkest !important;
      }

    }

    .content {
      grid-area: content;
      height: 10rem;
      box-shadow: 0 0.25rem 0 -.1rem rgba(0,0,0,.25);

      p {
        color: $Darkest;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    #comments {
      grid-area: comments;
      z-index: 997;
    }

   #commfield {
      min-height: 2.5rem;
      max-height: 2.5rem;
      overflow-y: hidden;
      -webkit-transform :none;
      transform: none;

      .comment {

      }

   }

    .commentbutton {

      grid-area: commentbutton;
      height: 5rem;
      margin-top: -5rem;
      z-index: 998;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-image: linear-gradient(rgba(255,0,0,0) 0%, $SecText 50%) !important;


      #commButton {

        @include buttonMix();
        box-shadow: none;
        transition: transform 300ms;

        width: 10%;
        height: 2rem;
        opacity: 0.3;
        background:  url("../img/down.svg");
        background-size: 100% 100%;

      }

    }

  }

}

.buttonClicked {
  transform: rotate(180deg);
}

.commShow {
  min-height: 2.5rem !important;
  max-height: 10rem !important;
  overflow-y: auto !important;
  scroll-snap-type: y mandatory !important;
  scroll-snap-type: mandatory !important;
}

.commClicked {
  margin-top: 0rem !important;
  background: $SecText !important;
  height: 2.5rem !important;
}
